.header{
  text-align: center;
  padding: 15px;
  height: auto;
  width: auto;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  color: #5e503f;
}

.item{
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 600px;
    width: auto;
    padding: 10px;

}


