<div [align]="['center']">
<br/>
<div>{{profileName}}</div>

<form>
  <br/>Name: <input><br/>
  <br/>Email: <input><br/>
  <br/>Bio: <input><br/>
  <br/>Active: <input><br/>
</form>
</div>

 <!-- <form #user = "ngForm" (ngSubmit)="submit()">

  <div class  = "form-group">
    <label for="name">Name: </label>
    <input [(ngModel)]="model.name" type="text" name="name" id="name" class="form-group">
  </div>

  <div class  = "form-group">
    <label for="email">Email: </label>
    <input [(ngModel)]="model.email" type="text" name="email" id="email" class="form-group">
  </div>

  <div class  = "form-group">
    <label for="bio">Bio: </label>
    <input [(ngModel)]="model.bio" type="text" name="bio" id="bio" class="form-group">
  </div>

  <div class  = "form-group">
    <label for="active">Active: </label>
    <input [(ngModel)]="model.active" type="text" name="active" id="active" class="form-group">
  </div>


 </form>
 -->
